#back-btn {
	font-size: 44px;
	line-height: 0.6;
}
#cls-btn {
	font-size: 35px;
}
#logo {
	width: 200px;
}
#title-name {
	font-size: 35px;
}
#chart-hilgt {
	height: 235px;
	width: 235px;
	border-left-color: #87D0C2 !important;
	border-right-color: #FFF !important;
	border-top-color: #FFF !important;
	border-bottom-color: #FFF !important;
	border-width: 8px !important;
	transform: rotate(45deg);
}
#chart {
	border-left-color: #14A388 !important;
	border-right-color: #425B77 !important;
	border-top-color: #425B77 !important;
	border-bottom-color: #13BC9C !important;
	border-width: 18px !important;
}
#chart-info {
	transform: rotate(-45deg);
}